* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    background: url(mobileBackground.JPG) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    height: 100%;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
    
}

h1 {
    font-size:  5vw;
    text-align: center;
}

#titleTextContainer {
    display: inline-block;
   /*background: rgba(128, 128, 128, 0.863);*/
   background: rgba(255, 255, 255, 0.8);
   border-top-left-radius: 5%;
   border-top-right-radius: 5%;
   border-bottom-left-radius: 40%;
   border-bottom-right-radius: 40%;
   border-bottom: 1cm solid rgb(252, 125, 7);
   margin: 0 auto;
   margin-top: 10%;
   margin-bottom: 2%;
}

#textBee {
    color: rgb(252, 125, 7);
    border-radius: 9px;
    font-family: 'Fredoka One';
}

/**********************************************/

#getLocationButton {
    width: 50%;
    margin-left: 25%;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    background-color:rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 9px;
    border-bottom: 0.1cm solid rgb(252, 125, 7);
    cursor: pointer;
    transition: all 0.5s;
}

#getLocationButton span {
    transition:0.5s;
}

#getLocationButton span:before {
    content: '\003e';
    transition: 0.5s;
    opacity: 0;

}

#getLocationButton span:after {
    content: '\003c';
    transition: 0.5s;
    opacity: 0;

}

#getLocationButton:hover {
    border: 0.085cm solid rgb(252, 125, 7);
}

#getLocationButton:hover span {
    font-size: 150%;
}

#getLocationButton:hover span:before {
    opacity: 1;

}

#getLocationButton:hover span:after {
    opacity: 1;

}

/**********************************************/

#addressColumn {
    background-color: rgb(252, 125, 7);
    border-radius: 9px;
    display: none;
}

/**********************************************/


/**********************************************/

@media only screen and (max-width: 600px) {
    html {
        background-size: cover;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    [class*="col-"] {
        width: 100%;
      }

    h1 {
        font-size: 7vw;
    }

    #titleTextContainer {
        border-bottom: 0.2cm solid rgb(252, 125, 7);
        height: 30vw;
        margin-top: 20%;
        
    }

}
